* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #d95550;
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-basis: 100%;
}

.space {
    margin: 10px;
}

.cabecalho {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cabecalho img {
  width: 50px;
}

.cabecalho button {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-style: none;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  margin: 5px;
}

.cabecalho a {
  color: white;
  justify-content: flex-end;
  text-decoration: none;
}

footer {
  font-size: 0.8rem;
  margin-bottom: 20px;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: underline;
}