/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #d95550;
  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.cabecalho {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cabecalho img {
  width: 50px;
}

.cabecalho button {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-style: none;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  margin: 5px;
}

.cabecalho a {
  color: white;
  justify-content: flex-end;
  text-decoration: none;
}

.tasks {
  background: white;
  color: #333;
  margin-top: 30px;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.tasks h3 {
  margin-bottom: 10px;
}

.tasks ul {
  list-style: none;
  margin-bottom: 10px;
}

.tasks li {
  margin: 5px 0;
}

.add-task-btn {
  background: #d95550;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  font-size: 0.8rem;
  margin-bottom: 20px;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: underline;
}